body{
    margin: 0;
}
.square {
    margin: 15px;
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 2s;
}
.square:hover{
    transform: rotate(180deg);
    background-color: yellow;
}
.container {
    margin: 15px;
    border: 2px solid black;
    width: 60%;
    transition-property: width;
    transition-duration: 1s;
}
.squarered {
    width:100px;
    height: 100px;
    background-color: red;
    transition-property: width:;
    transition-duration: 1s;

}
.squareblue{
    margin-top:15px;
    width:100px;
    height: 100px;
    background-color:blue;
    transition-property: width;
    transition-duration: 1s;
    transition-delay: 1s;

}
.container >div:hover{
    width: 300px;
}


.image{
    margin-left: 30px;
    border: 1px dotted black;
    width: 400px;
    height: 300px;
    background-image: url("https://picsum.photos/400/300");
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: opacity,transform;
    transition-duration: 1s,3s;
}

.image:hover {
    opacity: 0.5;
    transform: rotateX(180deg);
}